<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prognozowanie cen nieruchomości</title>
</head>
<body>
    <h1>Wprowadź dane nieruchomości</h1>
    <form action="/predict" method="post">
        <label for="MedInc">Średni dochód:</label><br>
        <input type="number" step="0.01" id="MedInc" name="MedInc" required><br><br>
        <label for="HouseAge">Wiek domu:</label><br>
        <input type="number" step="0.01" id="HouseAge" name="HouseAge" required><br><br>
        <label for="AveRooms">Średnia liczba pokoi:</label><br>
        <input type="number" step="0.01" id="AveRooms" name="AveRooms" required><br><br>
        <label for="AveBedrms">Średnia liczba sypialni:</label><br>
        <input type="number" step="0.01" id="AveBedrms" name="AveBedrms" required><br><br>
        <label for="Population">Populacja:</label><br>
        <input type="number" step="0.01" id="Population" name="Population" required><br><br>
        <label for="AveOccup">Średnia liczba mieszkańców na dom:</label><br>
        <input type="number" step="0.01" id="AveOccup" name="AveOccup" required><br><br>
        <label for="Latitude">Szerokość geograficzna:</label><br>
        <input type="number" step="0.01" id="Latitude" name="Latitude" required><br><br>
        <label for="Longitude">Długość geograficzna:</label><br>
        <input type="number" step="0.01" id="Longitude" name="Longitude" required><br><br>
        <input type="submit" value="Prognozuj cenę">
    </form>
</body>
</html>